<!DOCTYPE html>
<meta charset="UTF-8">
<html>
    <head>
        <!--JS-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <!--CSS-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>SIGN UP</title>
    </head>
    
    <body class="container">
        <div class="Header"><!--header-->
            <div><!--top-->
                <nav class="navbar navbar-expand-sm navbar-dark fixed-top justify-content-between">
                    <div><!--nav title-->
                        <a class="navbar-brand text-dark display-1 pt-0 pb-0 m-0 font-weight-bold" href="/park">SINB</a>
                    </div><!--nav title end-->
                    <div><!--login link-->
                        <ul class="navbar-nav">
                            <div>
                                <li class="nav-item bg-primary rounded" style="margin-right: 8.5px;">
                                    <a class="nav-link text-light" href="/Views/sign_up">
                                        Sign Up
                                    </a>
                                </li>
                            </div>
                            <div class="dropleft">
                                <button class="btn pb-2 btn-primary" type="button" data-toggle="dropdown">
                                    SIGN IN
                                </button>
                                <div class="dropdown-menu p-2">
                                    <form action="/action_LOGIN"><!--login form-->
                                        <div class="form-group from-inline">
                                            <label for="ID">ID:</label>
                                            <input type="text" class="form-control col" placeholder="ID" name="id">
                                        </div>

                                        <div class="form-group">
                                            <label for="PW">PW:</label>
                                            <input type="password" class="form-control" placeholder="Password" name="pwd">
                                        </div>
                                        <button type="submit" class="btn btn-primary">SIGN IN</button>
                                    </form>
                                </div>
                            </div>
                        </ul>
                    </div><!--login link end-->
                </nav>
            </div><!--top END-->

            <!--title-->
            <div class="text-center mt-5">
                <a href="/park" class="bg-transparent text-dark navbar-brand hover">
                    <h1 class="display-5 font-weight-bold">Security Imformation Notice Board</h1>
                    <p class="display-5 font-weight-bold">(SINB)</p>
                </a>
            </div>
            <!--title END-->

            <!--menu-->
            <nav class="navbar bg-dark">
            </nav>
        </div><!--header-->

        <div class="row m-5"><!--body-->
            <div class="col-5"><!--little title-->
                <h1 class="display-3">SIGN UP</h1>
            
                <form action="/action"><!--login form-->
                    <div class="form-group from-inline">
                        <label for="ID">ID:</label>
                        <input type="text" class="form-control col" placeholder="ID" name="id">
                    </div>

                    <div class="form-group">
                        <label for="PW">PW:</label>
                        <input type="password" class="form-control" placeholder="Password" name="pwd">
                    </div>

                    <div class="form-group">
                        <label for="Email">Email:</label>
                        <input type="email" class="form-control" placeholder="Email" name="email">
                    </div>

                    <div class="form-group">
                        <label for="NC">NickName:</label>
                        <input type="text" class="form-control" placeholder="NickName" name="nc">
                    </div>

                    <div class="form-group">
                        <label for="addr1">Address1:</label>
                        <input type="text" class="form-control" placeholder="Address1" name="addr1">
                    </div>

                    <div class="form-group">
                        <label for="addr2">Address2:</label>
                        <input type="text" class="form-control" placeholder="Address2" name="addr2">
                    </div>
                    <button type="submit" class="btn btn-primary">SIGN UP</button>
                </form>
            </div><!--login form end-->

            <div class="col-5">
                <h1 class="display-4">약관</h1>
                <div data-spy="scroll" data-offset="0" class="scrollspy">
                    <p></p>
                </div>
            </div>
        </div><!--body end-->
    </body>
</html>